.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.active-filter {
    background-color: hotpink;
    color: white;
}

.isDone {
    opacity: 50%;
}

.error {
    border: 1px solid red;
    outline: none;
}

.errorMessage {
    color: red;
}
